<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinGallery.Properties.Settings.RepositoryConnectionString"
            connectionString="Data Source=.;Initial Catalog=Repository;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>