            if ($condition)
            {
                $constraints
            }
#if($isNested && $hasNestedIf)
            else $nestedIf
#elseif($isNested)
            else
            {
                $elseConstraints
            }
#end