#region Using Statements

using System.Collections.Generic;
using bdUnit.Interfaces;
using NUnit.Framework;
using Rhino.Mocks;
using StructureMap;
using System;
using System.Linq;

#endregion

namespace bdUnit.Interfaces 
{
	$interfaces
}

namespace bdUnit.Tests 
{
	[TestFixture]
	public class $testTitle
	{
	    [TestFixtureSetUp]
		public void Setup()
		{
			StructureMapInitializer.Initialize();
		}
		
		$tests
	}
}